title: RaQuet
description: An open source specification for raster data in Parquet format with QUADBIN spatial indexing, by CARTO
url: https://raquet.io
baseurl: ""

# Build settings
markdown: kramdown
highlighter: rouge

# Use custom layout
layouts_dir: _layouts

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor
  - README.md
